:root {
    --bg-color: #5F7849;
    --txt-color: #221408;
    --txt-acc-color: #201307;
    --div-bg-color1: #ECD698;
    --div-bg-color2: #F2E3BA;
    --acc-color1: #DEC1EB;
    --acc-color2: #C693DC;
    --font1: "Texturina", serif;
    --font2: "Sorts Mill Goudy", serif;
}

@font-face {
    font-family: pkmn;
    src: url(resources/fonts/pkmnrs.ttf);
}

body{
    background-color: var(--bg-color);
    color: var(--txt-color);
    text-align: center;
    font-family: var(--font1);
}
.container{
    display: grid;
    place-items: center;
    height: 95vh;
    position: relative;
}

.content{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas:
    'menu header'
    'menu main'
    'menu main';
    text-align: center;
    background-color: var(--div-bg-color2);
    background-image: url(resources/papertxtr2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 3px var(--div-bg-color1) solid;
    border-radius: 25px;
    height: 70vh;
    width: 75vw;
}

.inner-content{
    grid-area: main;
}

.title{
    grid-area: header;
}

/* Navigation */
.nav{
    grid-area: menu;
    display: grid;
    text-align: left;
}

a{
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    padding-left: 20px;
}

#navImg:hover{
    transform: rotate(20deg);
}

#navImg2:hover{
    transform: rotate(-20deg);
}

#label{
    grid-area: menu;
    display: none;
    font-size: 14px;
    background-color: var(--div-bg-color2);
    color: var(--txt-color);
    border: 1px var(--txt-acc-color) solid;
}

a:hover > #label{
    display: block;
}

a > img{
   height: 10vh; 
}

button{
    width: fit-content;
    font-family: var(--font1);
    font-size: 15px;
    margin: 5px;
    background-color: var(--acc-color1);
    border-radius: 0;
    cursor: pointer;
    border: var(--acc-color2) 2px solid;
}

button:hover{
    background-color: #e4ceee;
}
/* Front page */

#row1{
    display: grid;
    position: relative;
    text-align: center;
}

#welcome{
    justify-self: center;
}

#mareep{
    float: right;
    padding-right: 5vw;
}
#spinarak{
    float: left;
}

#spinarak, #mareep{
    width: 10vw;
}


/* Notes page */

.notes{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        'block1 block2'
    ;
}

#notes-input{
    display: grid;
    grid-area: block1;
    height: fit-content;
    padding: 10px;
    width: 25vw;
    background: url(resources/borderbg.gif);
    border-radius: 5px;
    box-shadow: 0 1px 5px #ccc;
    box-sizing: border-box;
}

#note-title{
    grid-row-start: 1;
    width: 250px;
    font-family: var(--font2);
    font-size: 18px;
}

#note-text{
    grid-row-start: 2;
    font-family: var(--font1);
    margin: 20px;
    width: 90%;
    max-height: 300px;
}

#msgArea{
    display: flex;
    position: relative;
    align-items: center;
}

#errMsg{
    padding-left: 50px;
}

/* Notes list */
#notes-list{
    grid-area: block2;
    overflow-y: hidden;
    overflow: scroll;
    height: 400px;
    width: 500px;
    
}

.note{
    background: url(resources/borderbg.gif);
    border-radius: 5px;
    box-shadow: 0 1px 5px #ccc;
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    margin: 10px;
    width: 25vw;
}

/* Pokédex */

#pokemon-search{
    background: url(resources/borderbg.gif);
    border-radius: 5px;
    box-shadow: 0 1px 5px #ccc;
    box-sizing: border-box;
    font-family: pkmn;
    width: 40vw;
    font-size: 25px;
    height: 40vh;
    padding: 10px;
    justify-self: center;
    display: grid;
    grid-template-rows: 10% 30% 30% 30%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        'shiny name'
        'pokemon types'
        'pokemon heightweight'
        'entry entry'
    ;
}

#search{
    display: flex;
    position: relative;
    align-items: center;
    justify-self: center;
}

#search-field{
    width: 25vw;
    font-family: var(--font1);
}

#shiny-toggle{
    grid-area: shiny;
    width: fit-content;
    display: flex;
    position: absolute;
    align-items: center;
}

#shiny-toggle > p{
    font-size: 18px;
}

/* From Uiverse.io by andrew-demchenk0 */ 
#shiny-switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#shiny-switch {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

#shiny-switch svg {
  position: relative;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  fill: #666;
}

#shiny-switch input:checked ~ svg {
  fill: #ffeb49;
}


#default-artwork, #shiny-artwork{
    grid-area: pokemon;
    margin-left: auto;
    margin-right: auto;
    width: 12vw;
}

#pokemon-id{
    grid-area: name;
    margin: 0px;
}
#pokemon-types{
    margin: 0px;
    grid-area: types;
    align-content: center;
}

#pokemon-height-weight{
    margin: 0px;
    grid-area: heightweight;
    align-content: center;
}

#pokemon-types > img{
    width: 3.5vw;
}

#pokedex-entry{
    grid-area: entry;
    background: url(resources/papertxtr.jpg);
    border-radius: 5px;
    box-shadow: 0 1px 5px #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 3px;
    width: 100%;
}


/* Pokémon type chart */

#type-chart{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        'choose results'
    ;
    text-align: center;
    
}

#chosen-type{
    background: url(resources/borderbg.gif);
    border-radius: 5px;
    box-shadow: 0 1px 5px #ccc;
    box-sizing: border-box;
    display: grid;
    width: 20vw;
    height: 20vw;
    margin: auto;
    grid-area: choose;
    text-align: center;
}


#type-effects{
    background: url(resources/borderbg.gif);
    border-radius: 5px;
    box-shadow: 0 1px 5px #ccc;
    box-sizing: border-box;
    width: 20vw;
    height: 20vw;
    margin: auto;
    padding: 0;
    display: grid;
    grid-area: results;
    grid-template-rows: repeat(4, 1fr);

}

#type-effects > div{
    height: fit-content;
}

#type-col{
    width: fit-content;
    max-height: 20vh;
}

#type-btn{
    width: 3.5vw;
    padding: 10px;
}

#strengths > img, #weaknesses > img, #no-effect-to > img, #no-effects > img {
    width: 3.5vw;
}
#type-strengths > p, #type-weaknesses > p, #type-ineffectives > p, #type-no-effects > p {
    margin: 5px;
}

@media only screen and (max-width: 850px) {
    .content{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            'menu'
            'header'
            'main'
            'main';
        height: fit-content;
        width: 95vw;
        background-repeat: repeat;
    }

    .nav{
        padding-top: 30px; 
        grid-area: menu;
        display: grid;
        width: 100%;
        justify-self: center;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
    a > img{
        height: 5vh;
    }
    .title{
        grid-area: header;
    }
    .inner-content{
        grid-area: main;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            'block1'
            'block2';
    }
    #row1{
        grid-area: block1;
    }
    #welcome{
        padding: 0px;
    }
    #spinarak{
        grid-area: block2;
        width: 10vh;
    }
    #mareep{
        grid-area: block2;
        width: 15vw;
    }

    /* POKÉDEX */

    #pokemon-search{
        width: 90vw;
        min-height: 50vh;
    }

    #default-artwork, #shiny-artwork{
        width: 40vw;
    }

    #pokemon-types > img{
        width: 12vw;
    }


    /* TYPE CHART */
    #type-chart{
        grid-template-columns: auto auto;
        grid-template-areas: 
            'choose'
            'results'
        ;
        justify-content: center;
    }

    #chosen-type{
        width: fit-content;
        height: fit-content;
    }

    #type-effects{
        width: fit-content;
        height: fit-content;
    }

    #type-col{
        max-height: max-content;
    }

    #type-btn{
        width: 15vw;
    }

    #type-effects{
        width: 100%;
        margin-top: 50px;
    }

    #strengths > img, #weaknesses > img, #no-effect-to > img, #no-effects > img {
        width: 15vw;
        padding: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .content{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            'menu'
            'header'
            'main'
            'main';
        height: fit-content;
        width: 75vw;
    }

    .nav{
        padding-top: 30px; 
        grid-area: menu;
        display: grid;
        width: 100%;
        justify-self: center;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }

    /* NOTES */

    .notes{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
            'block1'
            'block2'
        ;
    }

    #notes-input{
        width: 90%;
        grid-area: block1;
        justify-self: center;
    }
    #note-title{
        max-width: 90%;
    }
    #notes-list{
        width: 90%;
        grid-area: block2;
        justify-self: center;
        margin-top: 50px;
    }
    .note{
        width: 90%;
        justify-self: center;
    }

    #type-chart{
        grid-template-columns: auto auto;
        grid-template-areas: 
            'choose'
            'results'
        ;
        justify-content: center;
    }

    #chosen-type{
        width: fit-content;
        height: fit-content;
    }

    #type-effects{
        width: fit-content;
        height: fit-content;
    }
}
