:root {
    --bg-color: #5F7849;
    --txt-color: rgb(34, 20, 8);
    --txt-acc-color: rgb(32, 19, 7);
    --div-bg-color1: #ECD698;
    --div-bg-color2: #F2E3BA;
    --font1: "Texturina", serif;
    --font2: "Sorts Mill Goudy", serif;
}

body{
    background-color: var(--bg-color);
    color: var(--txt-color);
    text-align: center;
    font-family: var(--font1);
}
.container{
    display: grid;
    place-items: center;
    height: 95vh;
    position: relative;
}

.content{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 70% 10%;
    background-color: var(--div-bg-color2);
    background-image: url(resources/papertxtr2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 3px var(--div-bg-color1) solid;
    border-radius: 25px;
    height: 70vh;
    width: 75vw;
}


.title{
    grid-column-start: 2;
}

.nav{
    grid-row-start: 1;
    grid-column-start: 1;
    display: grid;
    text-align: left;
    grid-template-rows: repeat(5, 100%);
}

#front-page{
    grid-row-start: 1;
}
#first-page{
    grid-row-start: 2;
}
#second-page{
    grid-row-start: 3;
}
#third-page{
    grid-row-start: 4;
}
#fourth-page{
    grid-row-start: 5;
}

a{
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    padding-left: 20px;
}

#navImg:hover{
    transform: rotate(20deg);
}

#navImg2:hover{
    transform: rotate(-20deg);
}

#label{
    display: none;
    font-size: 14px;
    background-color: var(--div-bg-color2);
    color: var(--txt-color);
    border: 1px var(--txt-acc-color) solid;
    padding: 3px;
}

a:hover > #label{
    display: block;
}

#front-page > img, #first-page > img, #second-page > img, #third-page > img{
    height: 125px;
}

#fourth-page > img{
    height: 100px;
}

.inner-content{
    grid-row-start: 2;
    grid-column-start: 2;
}